# Puerto en el que se levanta la API
PORT=3000

# Datos de conexión a PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin1234
DATABASE_NAME=db_nodejs

# Clave secreta para firmar los JSON Web Token
JWT_SECRET=a3sd21m16uio87ft62mp4i0ok6j8b24sdfc6sd

# Tiempo de vida del token (ejemplos: 1h, 8h, 7d)
JWT_EXPIRES_IN=8h
